<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- styles -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='/stylesheets/background.css'>

    <!--font-aweseme-->
    <title>Signup</title>
</head>
<body>

<main class="bg">
  <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid" style="border: 2px solid white; padding: 20px 100px; border-radius: 10px;">
            <div class="navbar-header" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-8 col-md-11 col-sm-11">
                        <a style="font-size: xx-large; color: white; text-decoration:none;">Travel Planner</a>
                    </div>
                    <div class="col-lg-4 col-md-1 col-sm-1" style=" display: flex; justify-content: flex-end; align-items: flex-end;">
                        <a style="font-size: small; color: white; text-decoration:none;">Designed by XXX</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center h-100 align-items-end">
            <div class="col-sm-11 col-md-5 p-4">
                <div class="card p-4">
                    <h3 class="text-center mb-3">Create Your Account</h3>

                    <form id="signupForm" action="start" method="POST">
                        <div class="form-group">
                            <input type="email" name="address" id="address" required="true" class="form-control" placeholder="Email Address" >
                        </div>

                        <div id="results" style="margin-top:30px"></div>

                        <div class="p-3">
                            <input type="submit" value="Start"  class="btn btn-outline-primary btn-block">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>



</main>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>